@model QualityBags.ViewModels.BagViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Bag</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Bag.ID" />
        <div class="form-group">
            <label asp-for="Bag.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bag.Name" class="form-control" />
                <span asp-validation-for="Bag.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bag.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bag.Description" class="form-control" />
                <span asp-validation-for="Bag.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bag.Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bag.Price" class="form-control" />
                <span asp-validation-for="Bag.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bag.CategoryID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Bag.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Bag.CategoryID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bag.SupplierID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Bag.SupplierID" class="form-control" asp-items="ViewBag.SupplierID"></select>
                <span asp-validation-for="Bag.SupplierID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
