@{
    ViewData["Title"] = "Confirm Registration";
}

<h2>Confirm Registration</h2>

<p>
    Thank you for registering!
</p>
<p>
    To login, please check your inbox for a confirmation email.
</p>
<p>
    If you don't find any confirmation email, make sure you've checked your spam folder carefully.
</p>
